parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Console/Commands/AuditPurgeCommand.php

		-
			message: '#^Call to method user\(\) on an unknown class App\\Http\\Requests\\Auth\\PasswordChangeRequest\.$#'
			identifier: class.notFound
			count: 2
			path: app/Http/Controllers/Api/AuthController.php

		-
			message: '#^Call to method validated\(\) on an unknown class App\\Http\\Requests\\Auth\\PasswordChangeRequest\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/Api/AuthController.php

		-
			message: '#^Parameter \$request of method App\\Http\\Controllers\\Api\\AuthController\:\:changePassword\(\) has invalid type App\\Http\\Requests\\Auth\\PasswordChangeRequest\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/Api/AuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$subject_type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AuditController.php

		-
			message: '#^Cannot call method diffInSeconds\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<TRelatedModel of Illuminate\\Database\\Eloquent\\Model\>\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/BillingAdminController.php

		-
			message: '#^Relation ''licenses'' is not found in App\\Models\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/BillingAdminController.php

		-
			message: '#^Parameter \#2 \$default of static method App\\Models\\Setting\:\:get\(\) expects string\|null, false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/SettingsController.php

		-
			message: '#^Parameter \#2 \$default of static method App\\Models\\Setting\:\:get\(\) expects string\|null, false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Middleware/RegistrationEnabled.php

		-
			message: '#^Method App\\Http\\Requests\\Auth\\PasswordResetRequest\:\:rules\(\) should return array\<string, string\> but returns array\<string, list\<string\>\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Auth/PasswordResetRequest.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Requests/Plan/PlanRequest.php

		-
			message: '#^Method App\\Http\\Requests\\Profile\\ProfileUpdateRequest\:\:rules\(\) should return array\<string, string\> but returns array\<string, list\<Illuminate\\Validation\\Rules\\Unique\|string\>\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Profile/ProfileUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\Rbac\\PermissionUpdateRequest\:\:rules\(\) should return array\<string, string\> but returns array\<string, array\<int, Illuminate\\Validation\\Rules\\Unique\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Rbac/PermissionUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\Rbac\\RoleUpdateRequest\:\:rules\(\) should return array\<string, string\> but returns array\<string, list\<Illuminate\\Validation\\Rules\\Unique\|string\>\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Rbac/RoleUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\User\\UserStoreRequest\:\:rules\(\) should return array\<string, string\> but returns array\<string, list\<string\>\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/User/UserStoreRequest.php

		-
			message: '#^Method App\\Http\\Requests\\User\\UserUpdateRequest\:\:rules\(\) should return array\<string, string\> but returns array\<string, list\<Illuminate\\Validation\\Rules\\Unique\|string\>\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/User/UserUpdateRequest.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ActivityResource\:\:\$causer\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ActivityResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ActivityResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ActivityResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ActivityResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ActivityResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ActivityResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ActivityResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ActivityResource\:\:\$subject_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ActivityResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ActivityResource\:\:\$subject_type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ActivityResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$data\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$read_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$deleted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$deleted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$deleted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$last_login_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$locked_permanently\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$locked_until\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$phone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$username\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Setting.php

		-
			message: '#^Cannot call method isFuture\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to constant ATTR_SSL_CA on an unknown class Pdo\\Mysql\.$#'
			identifier: class.notFound
			count: 2
			path: config/database.php
